body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj5pgBR_FgrogqqnJs_HTaIog3fIK22QKKUA&usqp=CAU);
}

.red-text {
  color: red;
}

.jumbotron {
  background-color: darkred;
  color: yellow;
}

.price-p {
  color: white;
}

#hidden-price {
  display: none;
}
